.card {
  cursor: pointer;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.watch-list-icon {
  font-size: 25px;
  color: #00802b;
}

.favorite-list-icon {
  font-size: 25px;
  color: #cc2900;
}
