<div *ngIf="tvShow">
  <div
    class="header"
    [style.background-image]="
      'url(https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces/' +
      tvShow.backdrop_path +
      ')'
    "
  >
    <div class="custom-background">
      <div class="container">
        <div class="d-flex poster-image">
          <img
            src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{
              tvShow.poster_path
            }}"
            alt="{{ tvShow.name }}"
          />
          <div class="d-flex flex-column tv-show-details">
            <h1>{{ tvShow.name }} ({{ tvShow.first_air_date | date: "y" }})</h1>
            <p>{{ tvShow.overview }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
