app-people-list-items {
  display: flex;
  width: 200px;
  border-radius: 12px;
  overflow: hidden;
  margin: 20px 0 0 20px;
  box-shadow: 3px 2px rgb(0, 0, 0, 0.3);
}

.people-list {
  display: flex;
  flex-wrap: wrap;
}
