<div class="container">
  <h1>Popular People</h1>
  <input
    class="form-control mt-3"
    type="text"
    placeholder="Search for actor..."
    name="personName"
    [formControl]="personName"
  />
  <div class="container-fluid people-list">
    <app-people-list-items
      *ngFor="let person of people$ | async | mediaSearch: personName.value"
      [person]="person"
    >
    </app-people-list-items>
  </div>
  <nav aria-label="Page navigation">
    <ul class="pagination mt-4 mb-4">
      <li class="page-item" (click)="getPreviousPage()">
        <a class="page-link">Previous</a>
      </li>
      <li
        class="page-item"
        *ngFor="let page of pages"
        (click)="getConcretePage(page)"
      >
        <a class="page-link">{{ page }}</a>
      </li>
      <li class="page-item" (click)="getNextPage()">
        <a class="page-link">Next</a>
      </li>
    </ul>
  </nav>
</div>
