<div class="card" (click)="redirect()">
  <img
    class="card-img-top"
    src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{
      movie.poster_path
    }}"
    alt="{{ movie.original_title }}"
  />
  <div class="card-body">
    <h5 class="card-title">{{ movie.title }}</h5>
    <p class="card-text">{{ movie.release_date }}</p>
    <div class="row">
      <div
        class="col watch-list-icon"
        (click)="addToWatchList(); $event.stopPropagation()"
      >
        <i class="fas fa-list-ul"></i>
      </div>
      <div
        class="col favorite-list-icon"
        (click)="addToFavoriteList(); $event.stopPropagation()"
      >
        <i class="fas fa-heart"></i>
      </div>
    </div>
  </div>
</div>
{{ filterByGenreList }}
